@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

:root {
    /* COLOR SCHEME OPTION 1 */
    /* --shades-light: #f5f6f3; */
    /* --accent-light: #ea8069; */
    /* --main-brand: #9899a2; */
    /* --accent-dark: #bf4c57; */
    /* --shades-dark: #3d3e43; */

    /* COLOR SCHEME OPTION 2 */
    --shades-light: #ebe9e7;
    --accent-light: #889da4;
    --main-brand: #5d628f;
    --accent-dark: #5b72a6;
    --shades-dark: #1c1f2d;
}

span[class~="sr-only"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: -1px !important;
}

.lora-regular {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    content: "";
    /* border: 1px solid black; */
}

body {
    font-family: Raleway, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

nav a {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    padding: 0.25rem;
}

nav a:hover {
    font-weight: 700;
    text-shadow: 0px 0px 8px var(--shades-dark);
}

header {
    position: sticky;
    top: 0px;
}

nav {
    width: 100vw;
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--accent-dark);
    color: var(--shades-light);
}

.nav-left {
    width: 60%;
    padding-left: 2rem;
}

.nav-right {
    width: 40%;
    padding-right: 2rem;
}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
}

.heading {
    font-family: Lora, serif;
}

h1.heading.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    min-height: 30vh;
    font-size: 8vw;
    text-wrap: nowrap;
}

.section-heading:not(h1) {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
}

.text-block {
    max-width: 70vw;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    line-height: 1.5;
}

.contact {
    display: block;
    margin: 4rem 0;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contact-link {
    font-size: 2.5rem;
    margin: 0 1rem;
    text-decoration: none;
}

.no-dec {
    list-style-type: none;
}

.em {
    font-weight: 600;
}

a,
a:visited,
a:active {
    color: inherit;
}

.projects-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 80vw;
    margin: 0 auto;
    padding: 1.25rem 0.75rem;
}

.projects-gallery::after {
    content: "";
    width: 350px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 20vw;
    width: 22vw;
    background-color: #889da4;
    box-shadow: 0px 0px 8px var(--shades-dark);
}

.project-tile > a.heading {
    text-decoration: none;
}

.project-tile > .heading {
    color: var(--shades-light);
    text-align: center;
}

.project-tile:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out 2ms;
}

.tile-thumb {
    max-width: 320px;
    max-height: 240px;
    background-color: #889da4;
}

.project-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-only {
    display: none;
}

.hide {
    display: none;
}

@media only screen and (max-width: 700px) {
    .mobile-only {
        display: inline-block;
    }
}
