@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

:root {
    /* COLOR SCHEME OPTION 1 */
    /* --shades-light: #f5f6f3; */
    /* --accent-light: #ea8069; */
    /* --main-brand: #9899a2; */
    /* --accent-dark: #bf4c57; */
    /* --shades-dark: #3d3e43; */

    /* COLOR SCHEME OPTION 2 */
    --shades-light: #ebe9e7;
    --accent-light: #889da4;
    --main-brand: #5d628f;
    --accent-dark: #5b72a6;
    --shades-dark: #1c1f2d;
}

span[class~="sr-only"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: -1px !important;
}

.lora-regular {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    font-family: Raleway, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.heading {
    font-family: Lora, serif;
}

.contact-link {
    font-size: 2.5rem;
}

.no-dec {
    list-style-type: none;
}

.tile-thumb {
    width: 320px;
    height: 240px;
    background-color: #889da4;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 700px) {
    .mobile-only {
        display: inline-block;
    }
}
